# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
backend/uploads/*
!backend/uploads/.gitkeep
backend/credenciales_generadas.csv
backend/import_alumnos.sql
backend/*.xlsx

# Frontend
frontend/node_modules/
frontend/dist/

# General
*.pyc
.DS_Store
*.log
